/* CSS Document */
@font-face {
    font-family: firsttake;
    src: url('../fonts/First Take - Demo 2.ttf');
}
@font-face {
    font-family: airfly;
    src: url('../fonts/Airfly-DEMO.ttf');
}
@font-face {
    font-family: gothambook;
    src: url('../fonts/Gotham-Book.otf');
}
@font-face {
    font-family: cactus;
    src: url('../fonts/MessySmilingCactus-Regular.ttf');
}
body{
	font-family:gothambook;
	font-size:2vh;
	overflow-x: hidden;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
/*section*/
.s-one{
	background:url('../images/1-cover-bg.jpg') #ffffff top left 100% no-repeat;
}
.s-five{
	background:url('../images/4-cover-bg-2.jpg') #ffffff top left 100% no-repeat;
}
.s-six{
	padding-top:5%;
}
.s-seven{
	background:url('../images/5-cover-bg.jpg') #ffffff top left 100% no-repeat;
}
.s-nine{
	background:url('../images/6-bg.png') #ffffff top left 100% no-repeat;
	height:500px;
	padding-top:7%;
}
/*!section*/
/*misc*/
.bg-box{
	background:url('../images/4-garis-7030.png')  center 100% no-repeat;
}
.f13{
	font-size:13pt;
}
.img-res{
	width: 55%;
}
.img-res3{
	width: 55%;
}
.img-res-title{
	width: 80%;
	top:12%;
	position:absolute;
}
.img-res1-s5{
	width: 45%;
	top:20%;
	left:3%;
	position:absolute;
}
.img-res2-s5{
	margin-top:11%;
	width: 50%;
}
.img-res1-s6{
	width:70%;
}
.img-res2-s6{
	width:50%;
}
.eggwave{
	bottom:-7%;
	left:-12%;
	width: 100%;
	position:absolute;
}
.img-res1-s7{
	margin-top:5%;
	width:45%;
}
.img-res2-s7{
	margin-top:7%;
	margin-right:10%;
	width:45%;
}
.img-res-title2{
	width:40%;
	bottom:20%;
	left:5%;
	position:absolute;
}
.title-s-one{
	font-family: cactus;
	font-size:6vh;
}
.text-right{
	text-align:right!important;
}
.title-content{
	font-family:firsttake;
}
.text{
	line-height:3vh!important;
}
.text-white{
	color:#FFF!important;
}
.text-orange{
	color:#ff9900!important;
}
.text-aqua{
	color:#7efff5!important;
}
.text-tosca{
	color:#469d91!important;
}
.box-grey{
	background:#f2f1ef;
	padding:15px!important;
	z-index:1!important;
	width:80%;
}
.video{
	max-width:100%;
	}
@media screen and (min-width: 481px) {
	.minusmtop{
		margin-top:-5%!important;
	}
	.custom-align{
		text-align: right!important;
	}
}
@media screen and (max-width: 480px) {
	.minusmtop{
		margin-top:0!important;
	}
	.custom-align{
		text-align: center!important;
	}
}
.pos-relative{
	position:relative;
}
.absolute-right{
	position:absolute;
	right:5%!important;
}
.absolute-left{
	position:relative;
	left:5%!important;
}
.absolute-bottom{
	position:absolute;
	bottom:5%!important;
}
.absolute-top{
	position:relative;
	top:5%!important;
}
.person{
	font-family:kateceleb!important;
	font-size:2.5vh;
}
.absolute-custom-1{
	position:absolute;
	right:10%;
	top:30%;
}
.absolute-custom-2{
	position:absolute;
	bottom:0;
}
.marbot{
	margin-bottom:50px!important;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.title-subsec{
	font-family:airfly;
	font-size:24pt;
}
/*!misc*/
